@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 210 20% 13.9%;
		--card: 0 0% 100%;
		--card-foreground: 210 20% 13.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 210 20% 13.9%;
		--primary: 210 100% 21%;
		--primary-foreground: 210 20% 98%;
		--secondary: 210 20% 96%;
		--secondary-foreground: 210 20% 10%;
		--muted: 210 20% 96%;
		--muted-foreground: 210 20% 46%;
		--accent: 210 20% 96%;
		--accent-foreground: 210 20% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 210 20% 90%;
		--input: 210 20% 90%;
		--ring: 210 100% 21%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 210 20% 4.1%;
		--foreground: 0 0% 95%;
		--card: 210 20% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 210 20% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 210 100% 21%;
		--primary-foreground: 0 0% 95%;
		--secondary: 210 20% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 210 20% 15%;
		--muted-foreground: 210 20% 64.9%;
		--accent: 210 20% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 210 20% 15.9%;
		--input: 210 20% 15.9%;
		--ring: 210 100% 21%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

/* @layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
} */

/* Images Segments */
.varejo {
	background-image: url(../../assets/FrameVarejo.png);
}
.atacado {
	background-image: url(../../assets/FrameAtacado.png);
}
.industria {
	background-image: url(../../assets/FrameIndustria.png);
}
.fiscal {
	background-image: url(../../assets/FrameFiscal.png);
}
.section9 {
	background-image: url(../../assets/Section9.png);
}
